@import "./../../variables.scss";

.music-box {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-flow: column nowrap;
    width: 10rem;
    height: 13rem;
    margin: 0.5rem 1.375rem 0.5rem 0;
}
.music__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    border: 0;
}
.music__cover--icon {
    width: auto;
    height: auto;
    font-size: 2.25rem;
    color: $soft-main;
}
.music__info {
    width: 100%;
    height: calc(100% - 10rem);
    padding: 0.5rem 0 ;
}
.music__info--title {
    @include bold-14-qs;
    color: $strong-gray;
}
.music__info--artist {
    @include regular-12-qs;
    color: $gray;
}

@media only screen and (min-width: 670px) {
    
}