/* 
    General Styles
*/

@import "./variables.scss";
@import "./component/Main";
@import "./component/navbar/Menu";
@import "./component/navbar/User";
@import "./component/navbar/NavBar";
@import "./component/navbar/SearchBar";
@import "./component/search-result/SearchFirstResult";
@import "./component/search-result/Charts";
@import "./component/search-result/Results";
@import "./component/music/Music";
@import "./component/music/MusicPlayer";
@import "./component/menu/Menu";


@import "./views/Home";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}